.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

h2 {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.1;
	letter-spacing: -0.01em;
	color: var(--brand-color);
}

@include mobile-g {
	h2 {
		font-size: 34px;
	}
}