.timer {


    &__expires {
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.625;
        color: var(--neutral-07-100);
    }

    &__wrapper {
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 16px;

        div {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            background: var(--neutral-01-100);

            font-weight: 500;
            font-size: 34px;
            line-height: 1.11765;
            letter-spacing: -0.02em;
            text-align: center;
            color: var(--neutral-07-100);
        }
    }

    &__day {
        &::after {
            display: inline-block;
            content: 'Days';
            font-weight: 400;
            font-size: 12px;
            line-height: 1.66667;
            text-align: center;
            color: var(--neutral-07-100);
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
    &__hours {
        &::after {
            display: inline-block;
            content: 'Hours';
            font-weight: 400;
            font-size: 12px;
            line-height: 1.66667;
            text-align: center;
            color: var(--neutral-07-100);
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__minutes {
        &::after {
            display: inline-block;
            content: 'Minutes';
            font-weight: 400;
            font-size: 12px;
            line-height: 1.66667;
            text-align: center;
            color: var(--neutral-07-100);
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__seconds {
        &::after {
            display: inline-block;
            content: 'Seconds';
            font-weight: 400;
            font-size: 12px;
            line-height: 1.66667;
            text-align: center;
            color: var(--neutral-07-100);
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}